// Colors
// Primary
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// Neutral
$veryDarkBlue: hsl(234, 12%, 34%);
$grayishBlue: hsl(229, 6%, 66%);
$veryLightGray: hsl(0, 0%, 98%);

// Font Sizes
// $font-sm: 0.875rem; // 14px
$font-med: 0.9375rem; // 15px
// $font-lg: 1.25rem; //20px
// $font-xlg: 3.25rem; // 52px


