.hero{
  padding-top: 120px;
  background-image: url(/images/bg-header-mobile.png);
  background-size: cover;
  background-position: center top;

  @include breakpoint(tablet){
    padding-top: 130px;
    background-image: url(/images/bg-header-desktop.png);
  }

  &__logo{
    margin-bottom: 70px;
  }

  &__cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include breakpoint(tablet){
      display: block;
    }
  }
}