.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 80px;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
  color: #9fabb2;
}

h1,
h2,
h3 {
  color: #4c545d;
  margin-top: 0px;
}

h1 {
  font-size: 2.375rem;
  margin-bottom: 25px;
}
@media (min-width: 700px) {
  h1 {
    font-size: 2.75rem;
  }
  h1 br {
    display: none;
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 16px;
}
@media (min-width: 700px) {
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.375rem;
}
@media (min-width: 700px) {
  h3 {
    font-size: 1.625rem;
  }
}

p {
  margin-top: 0px;
}

p.large {
  font-size: 1.25rem;
}

p.medium {
  font-size: 1.125rem;
  line-height: 1.75;
}

p.small {
  font-size: 1rem;
}

.margin-bottom {
  margin-bottom: 50px;
  line-height: 1.6;
}

.large-margin-bottom {
  margin-bottom: 80px;
  line-height: 1.6;
}

button {
  position: relative;
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 16px 40px;
  cursor: pointer;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
@media (max-width: 699px) {
  button {
    width: 100%;
  }
}
button.btnIos {
  background-color: #26baa4;
  border-bottom: 3px solid #23a995;
  margin-bottom: 20px;
}
@media (min-width: 700px) {
  button.btnIos {
    margin-bottom: 0px;
    margin-right: 16px;
  }
}
button.btnIos:hover {
  background-color: #29c7af;
}
button.btnMac {
  background-color: #6173ff;
  border-bottom: 3px solid #4d61ff;
}
button.btnMac:hover {
  background-color: #7081ff;
}

.hero {
  padding-top: 120px;
  background-image: url(/images/bg-header-mobile.png);
  background-size: cover;
  background-position: center top;
}
@media (min-width: 700px) {
  .hero {
    padding-top: 130px;
    background-image: url(/images/bg-header-desktop.png);
  }
}
.hero__logo {
  margin-bottom: 70px;
}

.snippets__columns {
  position: relative;
  width: 100%;
}
@media (min-width: 1000px) {
  .snippets__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1000px) {
  .snippets__image, .snippets__features {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.snippets__image {
  text-align: center;
  margin-bottom: 60px;
}
@media (min-width: 1000px) {
  .snippets__image {
    margin-bottom: 0px;
    margin-right: 55px;
  }
}
.snippets__image img {
  width: 100%;
  max-width: 500px;
}
@media (min-width: 1000px) {
  .snippets__image img {
    max-width: none;
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px);
  }
}
.snippets__features {
  text-align: center;
}
@media (min-width: 1000px) {
  .snippets__features {
    margin-left: 55px;
    text-align: left;
  }
}
.snippets__features p {
  display: inline-block;
  max-width: 340px;
}
/*# sourceMappingURL=style.css.map */