// GLOBAL SETTINGS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include breakpoint-down(small) {
  header{
      min-width: 375px;
  }
    // margin: 0 auto;
  }
}

body {
  max-width: 90rem;
  margin: 0 auto;
  // fonts
  font-family: "Poppins", sans-serif;
  font-size: $font-med;
  color: $veryDarkBlue;
  background-color: $veryLightGray;
}

h1 {
  font-weight: 200;
  margin: 0;
}

h1 span {
  font-weight: 600;
}

p {
  color: $grayishBlue;
  max-width: calc(90rem / 2);
}
